body{
    background-image: url(seamless-doodle-social-media-patron-fondo-ilustracion-vectorial_1284-1983.jpg);
    background-repeat: repeat;
}
#us{
    position: absolute;
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 30px;
    margin: 20px 10px;
    background-color: rgba(223,213,205);
    text-align: center;
    font-style: oblique;
    color: #000000;
    left: 600px;
    top: 200px;
}
#pas{
    position: absolute;
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 30px;
    margin: 20px 10px;
    background-color: rgba(223,213,205);
    text-align: center;
    font-style: oblique;
    color: #000000;
    left: 600px;
    top: 250px;
}
#pas1{
    position: absolute;
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 30px;
    margin: 20px 10px;
    background-color: rgba(223,213,205);
    text-align: center;
    font-style: oblique;
    color: #000000;
    left: 600px;
    top: 300px;
}
#entra{
    position: absolute;
    background-color: rgba(223,213,205);
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 30px;
    margin: 20px 10px;
    color: #000000;
    left: 600px;
    top: 380px;
    font-size: 1.2em;

}
#re{
    position: absolute;
    background-color: rgba(223,213,205);
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 30px;
    margin: 20px 10px;
    color: #000000;
    left: 50px;
    top: 600px;
    font-size: 1.2em;

}
#com{
background: rgb(253, 255, 155);
color: seagreen;
position: absolute;
left: 430px;
    top: 120px;
    font-size: 1.0em;

}
::placeholder{
    color: seagreen;
    font-size: 1.2em;
}
#com1{
    background: rgb(253, 255, 155);
    color: seagreen;
    position: absolute;
    left: 510px;
        top: 120px;
        font-size: 1.0em;
    
    }
    #com2{
        background: rgb(253, 255, 155);
        color: seagreen;
        position: absolute;
        left: 610px;
            top: 120px;
            font-size: 1.0em;
        
        }
        #com5{
            background: rgb(253, 255, 155);
            color: seagreen;
            position: absolute;
            left: 610px;
                top: 120px;
                font-size: 1.0em;
            
            }